body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mostrar{
    width: 650px;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
}